/* 
=> wartości dla mobile ustawione na sztywno --> zmienić 
*/

*{
    font-family: 'DejaVuSans' ;
}

/* css for mobile and all  */
body{
    background-color: #ffffff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: max-content;
}

header{
    background-color: #ffffff;
}
.container{
    width: 100vw;
    height: auto;
    background-color: rgba(0, 0, 0, 0.08);

    margin-top: 10px;

    overflow-x: hidden;
}

.container > * {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.container div {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}

img {
    height: 60px;
}

.logo{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.logo__title{
    margin-left: 10px;
}

.logo__title__par-1{
    font-family: 'DejaVuSans ExtraLight';
    display: block;
}

.logo-img img{
    margin-left: 6px;
    max-height: 50px;
    /* height: 38px;
    width: 40px; */
    /* background-color: green; */
}
.logo__number {
    font-family: 'DejaVuSans Bold';
    font-size: 44px;
    margin-left: 4px;
}

.logo__number > span {
  
}

.navigation-manu div:hover {
    background-color:#cbcccc;
    transition: 0.5s;
    cursor:pointer;
    
}

/* xs */
@media (min-width: 475px) {
    body{
        background-color: black;
    }
}

/* sm */
@media (min-width: 640px) {
    body{
        background-color: rgb(62, 62, 62);
    }
}

/* md */
@media (min-width: 768px) {
    body{
        background-color: rgb(123, 112, 51);
    }
}

/* lg */
@media (min-width: 1024px) {
    body{
        background-color: rgb(21, 66, 214);
    }
}

/* xl */
@media (min-width: 1280px) {
    body{
        background-color: rgb(43, 203, 22);
    }
}

/* 2xl */
@media (min-width: 1536px) {
    body{
        background-color: rgb(228, 7, 210);
    }
}
